<html>
    <head>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h2 id="title">
                  {{ title }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1" style = "max-height: 400px; overflow: auto;">
                <p id="text">{{ text|safe }}</p>
            </div>
        </div>

        <div class = "row">
          <div class= "col-md-5 ">
            <label style = "margin-left: 60px;">
              With respect to <b> <i> outcome, </i> </b> characterize the reported difference
              between patients receiving <b> <i> intervention </i> </b> and those receiving
              <b> <i> comparator. </i> </b>
            </label>
          </div>

          <div class="col-md-4">
            {% if options %}
                <div class="row warning" id="check-warning">
                </div>
                <div class="row">
                  <select class="form-control" id="checkbox-list">
                    <option> </option>
                    {% for option in options %}
                        <option> {{ option }} </option>
                    {% endfor %}
                  </select>
                </div>
            {% endif %}
          </div>

        </div>

        <div class = "row">
          <div class = "col-md-6" style = "margin-left: 50px;">
            <div class="container">
              <button type="button" id= "add-but" class="btn"> Add Text </button>
              <button type="button" id= "restart-but" class="btn"> Clear </button>
              <button type="button" id= "submit-but" class="btn"> Submit </button>
            </div>
          </div>

          <div class = "col-md-5">
            <div class="row" id="select">
                <h4> Selected Text</h4>
                <ol id="selected"></ol>
            </div>
          </div>
        </div>


        <div id="store">
            <p id="userid">{{ userid }}</p>
            <p id="id">{{ id }}</p>
        </div>
        <script src="{{ url_for('static', filename='scripts/post.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/article.js') }}"></script>
    </body>
</html>
