<!DOCTYPE html>
<html lang="en">
<head>
  <title>Instructions</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Annotation guidelines</h2>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Overview</a></li>
    <li><a data-toggle="tab" href="#login">Login</a></li>
    <li><a data-toggle="tab" href="#menu1">Abstract Annotation</a></li>
    <li><a data-toggle="tab" href="#menu2">Full Article Annotations</a></li>
  </ul>

  <div class="tab-content">

    <!-- Content for the overview page -->
    <div id="home" class="tab-pane fade in active">
      <h3>
        <center>
          <video width="1080" height = "680" controls>
            <source src=".//instruction_video//annotation_overview_audio.mp4" type="video/mp4">
          </video>
        </center>
      </h3>
    </div>

    <div id="login" class="tab-pane fade">
      <center>
        <video width="1080" height = "720" controls>
          <source src=".//instruction_video//intro_audio.mp4" type="video/mp4">
        </video>
      </center>
    </div>

    <div id="menu1" class="tab-pane fade">
      <center>
        <video width="1080" height = "720" controls>
          <source src=".//instruction_video//annotate_abstract_audio.mp4" type="video/mp4">
        </video>
      </center>
    </div>
    <div id="menu2" class="tab-pane fade">
      <center>
        <video width="1080" height = "720" controls>
          <source src=".//instruction_video//full_annotation_audio.mp4" type="video/mp4">
        </video>
      </center>
    </div>



  </div>
</div>

</body>
</html>
