<!DOCTYPE html>
<html lang="en">
<head>
  <title>Instructions</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Annotation guidelines</h2>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Overview</a></li>
    <li><a data-toggle="tab" href="#login"> Login</a></li>
    <li><a data-toggle="tab" href="#menu1">Abstract Annotation</a></li>
    <li><a data-toggle="tab" href="#menu2">Providing support for annotations</a></li>
    <li><a data-toggle="tab" href="#menu3">Full Article Annotations</a></li>
  </ul>

  <div class="tab-content">

    <!-- Content for the overview page -->
    <div id="home" class="tab-pane fade in active">
      <h3>
        This task involves assessing claims regarding particular interventions
        and outcomes that are made in biomedical articles.
        Specifically, you will be asked to indicate whether an article
        (which will describe the conduct and results of a clinical trial)
        reports evidence that agrees with a particular prompt stating the
        relationship between interventions and outcomes of interest. You will
        first be asked to assess this based only on the abstract if possible.
        If this is not possible, you will use the full text.
      </h3>
    </div>

    <div id="login" class="tab-pane fade">
      <h3>Enter the username we provided on Upwork and press Start.</h3>
      <img src = 'instruction_imgs//login.jpg'>
    </div>

    <div id="menu1" class="tab-pane fade">
      <h3>Select on of the following options, based on the given prompt:</h3>
      <h3>
        If evidence regarding the prompt is not reported in the abstract, then
        select "cannot tell based on abstract" and submit. You will be
        brought to a webpage with the full text. The prompt will still be the same, but more information
        will be available to you.
      </h3>
      <img src = 'instruction_imgs//menu1.jpg'>
      <h3>
        In this example, we are comparing anti-biotics and a control group. We are
        trying to determine if anti-biotics increased/decreased/made-no-difference
        when combating maternal infenctions in comparison to the control group.
      </h3>
      <h3>
        If anti-biotics made infections more common (in comparison to no anti-biotics), we would select "Significantly Increased."
      </h3>
      <h3>
        If anti-biotics made infections less common (in comparison to no anti-biotics), we would select "Significantly Decreased."
      </h3>
      <h3>
        If anti-biotics made no difference in combatting infenctions
        (in comparison to no anti-biotics), then we would select "no signficant difference"
      </h3>

      <h3>
        If need be, we can select the option, "invalid prompt."
        This is for cases where the prompt is unintelligible, which can happen
        as a consequence of how we have generated the prompts.
        These will be flagged for our review.
      </h3>

    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>If you selected “Significantly Increased”, “Significantly decreased”,
         or “No Significant difference”, then you must highlight your
         supporting evidence, and press the “Add Text” button. The supporting
         argument is a quote that justifies the judgement you came to when selecting an
         option (increased/decreased/made-no-difference). Once you are finished with
         these two task, then you can press the submit button to move on.
         If you made a mistake, then just press clear.</h3>
      <img src = 'instruction_imgs//menu2.jpg'>
    </div>

    <div id="menu3" class="tab-pane fade">
      <h3>
        In the case that content relevant to the prompt was not
        reported in the abstract, you will find the evidence in the full-text
        of the article. 
      </h3>
      <img src = 'instruction_imgs//full_article.jpg'>
    </div>


  </div>
</div>

</body>
</html>
